<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 - 添加分类 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../view/admin/styles/general.css" rel="stylesheet" type="text/css" />
<link href="../view/admin/styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>

<h1>
<span class="action-span"><a href="catelist.php">商品分类</a></span>
<span class="action-span1"><a href="#">ECSHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 添加分类 </span>
<div style="clear:both"></div>
</h1>

<div class="main-div">
  <form action="cateaddAct.php" method="post" name="theForm" enctype="multipart/form-data">
  <table width="100%" id="general-table">
      <tr>
        <td class="label">分类名称:</td>
        <td>
          <input type='text' name='cat_name' maxlength="20" value='' size='27' /> <font color="red">*</font>
        </td>
      </tr>
      <tr>
        <td class="label">上级分类:</td>
        <td>
          <select name="parent_id">
                        <option value="0">所有分类</option>
                            <?php foreach($catlist as $value){ ?>
                        <option value="<?php echo $value['cat_id']; ?>">
                            <?php echo str_repeat('&nbsp;&nbsp;',$value['lev']).'├'.$value['cat_name']; ?>
                        </option><?php } ?>
                      </select>
        </td>
      </tr>

      <tr id="measure_unit">
      <tr>
        <td class="label">栏目简介:</td>
        <td>
          <textarea name='intro' rows="6" cols="48"></textarea>
        </td>
      </tr>
      </table>
      <div class="button-div">
        <input type="submit" value=" 确定 " />
        <input type="reset" value=" 重置 " />
      </div>
    <input type="hidden" name="act" value="insert" />
    <input type="hidden" name="old_cat_name" value="" />
    <input type="hidden" name="cat_id" value="" />
  </form>
</div>

<div id="footer">
    <?php
if(isset($_SESSION['username']) && !empty($_SESSION['username']) ){ ?>
    您好，<font class="f_orange_bold"><?php echo $_SESSION['username']; ?></font>，欢迎您回来！
    <a href="#">用户中心</a> | <a href="login.php?act=exit">安全退出</a>
    <?php }else{ ?>
    欢迎来到商城后台管理！&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="login.php">登录</a> | <a href="register.php">注册</a>
    <?php } ?>
</div>

</body>
</html>